mat-card {
  width: 20rem;
  text-align: center;
}

.recipe-form__container {
  display: flex;
  width: 100vw;
  font-size: 1.3rem;
  justify-content: center;
  padding: 2rem 0;
}

.form-error-code {
  font-size: .8rem;
}
